@model UsuarioCreacion
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de contraseña</title>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <script src="https://www.google.com/recaptcha/api.js" defer></script>
</head>
<body>
    <main>
        <div class="login-wrap">
            <div class="login-html">
                <div>
                    <a asp-area="" asp-controller="Login" asp-action="Index">Volver</a>
                </div>
                <br>
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Cambio de contraseña</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>

                <div class="login-form">
                    
                    <form asp-controller="Login" asp-action="ChangePassword">
                        <div class="sign-in-htm">
                            <div class="group">
                                <label asp-for="NombreUsuario" class="label">Nombre de usuario</label>
                                <input asp-for="NombreUsuario" id="NombreUsuario" required type="text" name="NombreUsuario" type="text" class="input">
                            </div>
                            <div class="group">
                                <label asp-for="Password" class="label">Contraseña actual</label>
                                <input asp-for="Password" id="Password" required type="password" class="input" data-type="password">
                            </div>
                            <div class="group">
                                <label asp-for="NuevoPassword" class="label">Nueva contraseña</label>
                                <input asp-for="NuevoPassword" id="NuevoPassword" required type="password" class="input" data-type="password">
                            </div>
                            <div class="group">
                                <label asp-for="ConfirmarNuevoPassword" class="label" >Confirme su nueva contraseña</label>
                                <input asp-for="ConfirmarNuevoPassword" id="ConfirmarNuevoPassword" required type="password" class="input" data-type="password">
                            </div>
                            <!--
                                <div class="group">
                                    <input id="check" type="checkbox" class="check" checked>
                                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                                </div>
                            -->
                            @if (ViewBag.Error != null)
                            {
                                <div>

                                    <p style="color:red;">@ViewBag.Error</p>

                                </div>
                            }
                            @if (ViewBag.Captcha != null)
                            {
                                <div>

                                    <p style="color:red;">@ViewBag.Captcha</p>

                                </div>
                            }
                            @if (ViewBag.Bloqueado != null)
                            {
                                <div>

                                    <p style="color:red;">@ViewBag.Bloqueado</p>

                                </div>
                            }
                            <div class="group">
                                <input type="submit" class="button" value="Confirmar">
                            </div>
                            <div class="hr"></div>
                        </div>
                    </form>
                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="user" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Repeat Password</label>
                            <input id="pass" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Email Address</label>
                            <input id="pass" type="text" class="input">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a for="tab-1">Already Member?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>